*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#dfe9f3;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:Arial, sans-serif;
}

.book{
    position:relative;
    width:900px;
    height:600px;
    perspective:2500px;
}

.page{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    border-radius:10px;
    padding:60px;
    box-shadow:0 10px 40px rgba(0,0,0,.2);
    transform-origin:left center;
    transition:transform 1.5s ease;
    backface-visibility:hidden;
    cursor:pointer;
}

.page h1,
.page h2{
    margin-bottom:20px;
}

.page p{
    font-size:1.2rem;
    line-height:1.8;
}

.page.flipped{
    transform:rotateY(-180deg);
}

